{#{% csrf_token %}#}
{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action=test.html" method="post">
        {% csrf_token %}
    <div><H1>Tutaj możesz stworzyć swój kolaż ze zdjęciami.</H1></div>

    <div>
        <div class="coll_divs" id="coll_url_div_1">
            <p>Dodaj adres obrazu</p>
            <input class="urls_input" ="csrfmiddlewaretoken" type="url" id="url_1">
        </div>
        <div class="coll_divs" id="coll_url_div_2" hidden>
            <p>Dodaj adres obrazu</p>
            <input class="urls_input" name="csrfmiddlewaretoken" type="url" id="url_2">
        </div>
        <div class="coll_divs" id="coll_url_div_3" hidden>
            <p>Dodaj adres obrazu</p>
            <input class="urls_input" name="csrfmiddlewaretoken" type="url" id="url_3">

        </div>
        <div class="coll_divs" id="coll_url_div_4" hidden>
            <p>Dodaj adres obrazu</p>
            <input class="urls_input" name="csrfmiddlewaretoken" type="url" id="url_4">

        </div>
        <div class="coll_divs" id="coll_url_div_5" hidden>
            <p>Dodaj adres obrazu</p>
            <input class="urls_input"name="csrfmiddlewaretoken"  type="url" id="url_5">

        </div>
        <div class="coll_divs" id="coll_url_div_6" hidden><p>Dodaj adres obrazu</p><input name="csrfmiddlewaretoken" class="urls_input" type="url" id="url_6">

        </div>
    </div>
    <div>
        <h4>Podaj wymiary kolażu, który będzie wygenerowany</h4>
        <div>
            <p>Szerokość kolażu</p>
            <input name="csrfmiddlewaretoken" id="width">
        </div>
        <div>
            <p>Wysokość kolażu</p>
            <input name="csrfmiddlewaretoken" id="height">
        </div>
    </div>
    <div>
        <input type="submit" id="generate_collage" value="Pobież kolaż"  disabled>

    </div>
    <div id="download_collage_div">

    </div>

</form>
</div>
</body>
</html>

{% block extra_js %}
    <script src="{% static '/plugins/jquery/jquery.min.js' %}"></script>
    <script>
        function check_url (event)
        {
            let url = event.data.url
            let url_address_value = url.val()
            let next_url_div = event.data.next_url_div
            if (url_address_value != ""){

                $.ajax({
                    url: '{% url "check_url" %}',
                    type:"GET",
                    dataType: 'json',
                    data: {'url': url_address_value}
                 }).done(function (result) {
                    if (result['is_valid'] == true){
                        $('#generate_collage').attr('disabled',false)
                        next_url_div.attr('hidden', false)
                        url.attr('disabled',true)

                    }
                    else{

                        $('#generate_collage').attr('disabled',true)
                        next_url_div.attr('hidden', true)

                    }
                 })
            }
            else {

            }
        };
        $('#url_1').on('change',{'url':$('#url_1'), 'next_url_div': $('#coll_url_div_2')} ,check_url)
        $('#url_2').on('change',{'url':$('#url_2'), 'next_url_div': $('#coll_url_div_3')} ,check_url)
        $('#url_3').on('change',{'url':$('#url_3'), 'next_url_div': $('#coll_url_div_4')} ,check_url)
        $('#url_4').on('change',{'url':$('#url_4'), 'next_url_div': $('#coll_url_div_5')} ,check_url)
        $('#url_5').on('change',{'url':$('#url_5'), 'next_url_div': $('#coll_url_div_6')} ,check_url)
        $('#url_6').on('change',{'url':$('#url_6'), 'next_url_div': ''  },check_url)

        function show_section(event){
            let section = event.data.section
            let add_button = event.data.add_button_to_hide
            let add_button_disable = event.data.add_button_disable
            section.attr('hidden',false)
            if (add_button_disable != ''){
                add_button_disable.attr('disabled',true)

            }
            if (add_button != ''){
                add_button.attr('hidden',true)
                $('#generate_collage').attr('disabled',true)

            }
        }

        $('#add_next_url1').on('click',{
            'section':$('#coll_url_div_2'),
            'add_button_to_hide':$('#add_next_url1'),
            'add_button_disable':$('#add_next_url2')},
            show_section )
        $('#add_next_url2').on('click',{'section':$('#coll_url_div_3'), 'add_button_to_hide':$('#add_next_url2'),'add_button_disable':$('#add_next_url3')}, show_section )
        $('#add_next_url3').on('click',{'section':$('#coll_url_div_4'), 'add_button_to_hide':$('#add_next_url3'),'add_button_disable':$('#add_next_url4')}, show_section )
        $('#add_next_url4').on('click',{'section':$('#coll_url_div_5'), 'add_button_to_hide':$('#add_next_url4'),'add_button_disable':$('#add_next_url5')}, show_section )
        $('#add_next_url5').on('click',{'section':$('#coll_url_div_6'), 'add_button_to_hide': $('#add_next_url5'),'add_button_disable':''}, show_section )
    </script>


{#<script>#}
{#$('#generate_collage').on('click', function (){#}
{#    let urls = {}#}
{#    let inc = 1#}
{#    $('.urls_input').each(function (){#}
{#    let url = $(this).val()#}
{#    urls[inc] = url#}
{#    inc+=1#}
{#    })#}
{#    let width=$('#width').val()#}
{#    let height=$('#height').val()#}
{##}
{# })#}
{#</script>#}




    <script>

        $('#generate_collage').on('click', function (){
            let urls = {}
            let inc = 1
            $('.urls_input').each(function (){
                let url = $(this).val()
                urls[inc] = url
                inc+=1
            })
            let width=$('#width').val()
            let height=$('#height').val()

            let urls_j = JSON.stringify(urls)
            let CSRFtoken = $('input[name=csrfmiddlewaretoken]').val();
            $.post({% url "generate_collage" %},
                {
                'urls':urls_j, 'width':width, 'height':height
                },
                ccsrfmiddlewaretoken: CSRFtoken

        )
            {#$.ajax({#}
            {#    url:  '{% url "generate_collage"  %}',#}
            {#    type:'POST',#}
            {#    dataType: 'json',#}
            {#        headers: {'X-CSRFToken': '{{ csrf_token }}'},#}
            {#    data:   {'urls':urls_j, 'width':width, 'height':height}#}
            {##}
            {# })#}
                {#.done(function (result) {#}
                {#let download_div = $('#download_collage_div')#}
                {#download_div.attr('hidden', false)#}
                {#let ima =result['image']#}
                {##}
                {#download_div.append('<img src=".collage_image_589.jpg">')#}
                {#download_div.append('<img src="{{  }}">')#}
                {#download_div.append( '<a href="./collage_image_589.jpg" download>afdsfasdfsadsdfa</a>')#}

                {# })#}
        })
    </script>

{% endblock %}